<!--<div class="container" >
    <div class="col-xs-5" style="max-height:500px;overflow-y:scroll;" >
      <div class="row" *ngFor="let datacarrier of dataLoader">
        
        <br>  <small style="font-size:12px;">{{datacarrier.timestamp}} , {{datacarrier.media_display}}</small>
    
        <p>
          <img style="float:left;margin-right:10px;max-height:100px;max-width:130px;" src="{{datacarrier.image}}" class="img-responsive"/>
          {{datacarrier.description | slice:0:300}}... </p>
        <hr>
      </div>
      
    </div>
</div>-->

<!--<div class="container" >
    <div class="col-xs-5" style="max-height:500px;overflow-y:scroll;" >
      <div class="row" *ngFor="let datacarrier of dataLoader">
        
        <br>  <small style="font-size:12px;"></small>
    
        <p>
          <img style="float:left;margin-right:10px;max-height:100px;max-width:130px;" src="{{datacarrier.image}}" class="img-responsive"/>
          {{datacarrier.tweet_text}}... </p>
        <hr>
      </div>
      
    </div>
</div>-->

<div id="utama" style="max-height:300px;overflow-y:scroll;">
  <div class="row" *ngFor ="let datacarrier of dataLoader">
    <div class="image col-md-2">
      <img src= {{datacarrier.image}} alt="..." class="img-responsive">
    </div>
    <div class="col-md-10">
      <small style="font-size:12px;color: gray;">{{datacarrier.screen_name}} . {{datacarrier.timestamp}}</small>
      <p>
      <span>{{datacarrier.tweet_text}}</span>
      </p>
        <!--<md-list-item></md-list-item>-->
    </div>
          <hr>
    </div>

</div>